.form {
  fieldset {
    margin: 20px 0;

    .fields {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    legend {
      font-weight: 700;
      color: $color-2;
      font-size: 1.5rem;
      padding-left: 0;
    }

    input,
    select {
      flex-basis: 100%;
      flex-grow: 0;
      margin: 0.5% 0;
      padding: 10px 12px !important;
      height: auto;
      font-size: 1.06rem;
      font-weight: 600;
    }

    #nome {
      max-width: 70% !important;
    }

    #cpf {
      max-width: 29%;
    }

    #rua {
      max-width: 60%;
    }

    #numero {
      max-width: 19%;
    }

    #bairro {
      max-width: 19%;
    }

    #cep {
      max-width: 20%;
    }

    #cidade {
      max-width: 39%;
    }

    #estado {
      max-width: 39%;
    }

    #complemento {
      max-width: 50%;
    }

    #referencia {
      max-width: 49%;
    }

    #telefone-1,
    #telefone-2,
    #whatsapp,
    #email {
      max-width: 24.2%;
    }

    #tipo_veiculo {
      max-width: 19%;
    }

    #marca_veiculo {
      max-width: 29%;
    }

    #modelo_veiculo {
      max-width: 29%;
    }

    #placa_veiculo {
      max-width: 19%;
    }

    #ano_veiculo {
      max-width: 19%;
    }

    #cor_veiculo {
      max-width: 49%;
    }

    #renavam {
      max-width: 29%;
    }

    #tipo_instalacao {
      max-width: 32.3%;
    }

    #forma_pagamento {
      max-width: 32.3%;
    }

    #valor_instalacao {
      max-width: 32.3%;
    }

    #plano {
      max-width: 32.3%;
    }

    #duracao_contrato {
      max-width: 32.3%;
    }

    #valor_mensalidade {
      max-width: 32.3%;
    }
  }
}

.search-clientes {
  margin-bottom: 10px;

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  fieldset {
    flex-grow: 1;
    padding: 2.5px 5px 2.5px 0;
  }
}
